.nav {
    margin: 1.6rem 0 4rem 0;
    &__listing {
        display: flex;
        align-items: center;
        &-item {
            font-size: 1.8rem;
            font-weight: bold;
            a {
                color: #000000;
            }
            &.active {
                a {
                    color: $orange;
                }
            }
            button {
                background: none;
                border: none;
                font-size: 3rem;
                cursor: pointer;
            }
            &:first-of-type {
                margin-right: 1.5rem;
            }
            &:nth-of-type(2){
                margin-right: auto;
            }
        }
    }
}