.post-listing {
    &__post {
        &:not(:last-of-type){
            margin-bottom: 2rem;
        }
    }
    &__post-title {
        color: $orange;
        font-weight: 700;
    }
    &__post-description {
        margin-top: .8rem;
        margin-bottom: 0;
        color: $lightGray;
        a {
            color: #000000;
            text-decoration: underline;
        }
    }
}